<form class="form" id="formData" #userData="ngForm" (ngSubmit)="registerPlayers(userData.value)">
  <h2 class="register_header">Enter players names</h2>
  <div class="container">
    <input type="text" placeholder="Player 1 Name" name="p1name" required ngModel>
    <input type="text" placeholder="Player 2 Name" name="p2name" required ngModel>
    <button class="register" type="submit">Register</button>
  </div>
</form>
