.register_header{
  text-align: center;
  font-family: 'Roboto';
  color: #FFF;
}
.form{
  margin-top: 250px;
}

.container{
  display: flex;
  justify-content: center;
}
input{
  padding: 10px;
  margin-right: 10px;
}
input[placeholder]{
  font-family: 'Roboto';
}
.register{
  font-family: 'Roboto';
  background-color: #17B596;
  color: #fff;
  line-height: 45px;
  padding-left: 35px;
  border-radius: 5px;
  width: 10%;
  font-size: 16px;
  padding-right: 35px;
  cursor: pointer;
 border: none;
 }
