.cell {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 3px solid #0DA192;
  font-size: 80px;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14bdac;
}
