<body>


<div class="container">
  <h1 class="title">TIC-TAC-TOE</h1>
    
    <ul class="buttons_container">
      <li class="nav-item">
        <button type="button" name="button" class="play_button">
          <a routerLink="play" class="nav-link" routerLinkActive="active">
            Play
          </a>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" name="button" class="results_button">
          <a routerLink="results" class="nav-link" routerLinkActive="active">
            Leaderboard
          </a>
        </button>
      </li>
    </ul>
</div>
</body>
