.title{
  text-align: center;
  color: #fff;
  padding-top: 270px;
  margin-top: 0px;
  font-family: 'Roboto';
}
.container{
  font-family: 'Roboto';
}
.nav-item{
  display: inline-block;
  padding-left: 20px;
}
.play_button{
  background-color: #17B596;
  color: #fff;
  line-height: 45px;
  padding-left: 35px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  padding-right: 35px;
  cursor: pointer;
  border: none;
}
.results_button{
  background-color: #17B596;
  color: #fff;
  line-height: 45px;
  padding-left: 35px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  padding-right: 35px;
  cursor: pointer;
  border: none;
}

.buttons_container{
  padding-left: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
a{
  color: #fff;
  text-decoration: none;
}
