<div class="container">
		<div class="winnerName" >
			<h1>{{winnerName}}</h1>
		</div>

		<div class="board_container">
			<div class="board" *ngFor="let row of [0,1,2]">
				<app-cell *ngFor="let col of [0,1,2]"
					[state]="board[col+row*3]"
					(click)="moves(col+row*3)">
	    	</app-cell>
			</div>
		</div>
		<button class="restartgame" (click)="restartGame()">Restart Game</button>
</div>
