.container{
  text-align: center;
}
.board_container{
  margin-top: 20px;
}

.board {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #2A3B4C;
  font-family: 'Roboto';
}

.winnerName {
	color: #fff;
  font-family: 'Roboto';
}

.restartgame {
  color: #fff;
  background-color: green;
  border-radius: 5px;
  width: 35%;
  line-height: 55px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Roboto';
  font-size: 24px;

}
