.container {
  height: 100%;
  font-family: monospace;
  color: #fff;
}

.cells {
  padding: 1rem;
  height: 80%;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table_title{
  color: #FFF;
  text-align: center;
  font-size: 40px;
}
.table_head{
  font-size: 24px;
  color: #ECECEC;
}

.table {
    font-size: 1rem;
    border-collapse: collapse;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}

.table_content td, .table_head {
    text-align: center;
    padding: 15px;
}
