<div class="container">
  <div class="cells">
    <h1 class="table_title">Leaderboard</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="table_head">player1</th>
          <th class="table_head">player2</th>
          <th class="table_head">winner</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table_content" *ngFor='let result of results'>
            <td>{{result.p1name}}</td>
            <td>{{result.p2name}}</td>
            <td>{{result.winner}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
